@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    
    font-family: 'Raleway', sans-serif;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav1{
    background: linear-gradient(90deg, orange, yellow);
    display: flex;

}

nav{
    background: linear-gradient(90deg,orange, yellow);

}

.logo img{
    width: 145px;
    padding: 0 100px;
}

.logo{
    display: flex;
    align-items: center;   
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.Search input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 610px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    color: black;
}

nav ul{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding:0 90px;

}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bold;

}

.right ul{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}
.right ul li{
    list-style: none;
    padding:0 63px;

}

.right ul li a{
    color: white;
    text-decoration: none;

}
main{
    background-color: black;
    height: 120vh;
}

footer{
    height: 10vh;
    background-color: #0f7c80;
    color: white;
    font-family: 'Raleway', sans-serif;
}
